{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Page</title>
</head>
<body>
    <div class="project">
        <h2>Project: SA16-Act2</h2>
        <p>For this project, I used Ruby On Rails to make a portfolio website</p>
        <img src="{% static 'act2.png' %}" alt="Image 1">
    </div>
    
    <div class="project">
        <h2>Project 2: SA16-Act3</h2>
        <p>For this project, I used Django to make a portfolio website</p>
        <img src="{% static 'act3.png' %}" alt="Image 2">
    </div>
    
</body>
</html>
